h1 { color: rgba(0, 119, 255, 0.726); }
h2 { color: rgb(68, 0, 255); }

p.sample1 {border: inset 10px #0000ff;}
p.sample2 {border: inset 10px #ff0000;}
p.sample3 {border: inset 10px #ffd000;}
p.sample4 {border: inset 10px #ff00f2;}